<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h1>Hello, {{ name }}!</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h4>Template général</h4>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h1>Connexion</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h4>test</h4>
    </div>
</div>